.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        display: flex;

        img {
            width: 35%;
            margin-left: auto;
            margin-right: 24px;
            margin-top: 24px;

        }
    }

    .main {
        text-align: center;
        margin-bottom: 80px;
        margin-top: 60px;

        p {
            margin-top: 0px;
            font-weight: 250;
            font-family: 'proxima-nova', sans-serif;
        }

        .thanks {
            font-size: 26px;
            font-weight: 700;
            font-family: 'proxima-nova', sans-serif;

        }

        .item {
            p {
                margin: auto;
                margin-bottom: 16px;
                margin-top: 24px;
                font-size: 14px;
                font-family: 'proxima-nova', sans-serif;
                font-weight: 700;
                width: 70%;
            }

            input {
                border: none;
                padding: 20px 26px;
                border-radius: 200px;
                background: rgba(238, 238, 238, 0.50);
                font-size: 20px;
                width: 75%;
                text-align: center;
                font-family: 'proxima-nova', sans-serif;
                font-weight: 700;
                margin-bottom: 16px;
            }

            button {
                border-radius: 200px;
                background: #FF0005;
                font-weight: 700;
                color: white;
                font-size: 22px;
                border: none;
                cursor: pointer;
                width: calc(75% + 52px);
                padding: 20px 26px;
                margin-top: 16px
            }

            button:disabled {
                background: rgba(238, 238, 238, 0.50) !important;
                color: #D8D8D8 !important;
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: center;

        .form {
            width: 50%;
            margin-bottom: 100px;
        }

        img {
            margin-bottom: 100px;
            width: 90%;

        }
    }
}