<div class="container">
  <div class="header">
    <img src="../assets/Logo TCB inspire no tagline 1.png" alt="">
  </div>
  <div class="main" *ngIf="!isSubmit">
    <div class="item">
      <p>Tên Facebook/Instagram của bạn là gì?</p>
      <input type="text" placeholder="Bạn hay được gọi là gì nhỉ?" [(ngModel)]="name" (ngModelChange)="check($event)">
    </div>
    <div class="item">
      <p>Nếu không ngần ngại nói "why not?", bạn mơ ước điều gì?</p>
      <input type="text" [maxlength]="30" [(ngModel)]="comment" (ngModelChange)="check($event)">
    </div>
    <p>Kí tự: {{comment.length}}/30</p>
    <div class="item">
      <button (click)="submit()" [disabled]="disabled">
        Gửi câu trả lời
      </button>
    </div>
  </div>
  <div class="main" *ngIf="isSubmit">
    <p class="thanks">
      Cảm ơn<br>
      câu trả lời của bạn
      <br><br>
      Hãy nhìn lên màn hình lớn
      ngay bên cạnh!
    </p>
  </div>
  <div class="footer">
    <img class="form" src="../assets/Cụm text 1.png" alt="" *ngIf="!isSubmit">
    <img src="../assets/Image 1.png" alt="" *ngIf="isSubmit">
  </div>
</div>